<h1>Hello, Kloudie!</h1>
<p>This is an exercise to find, "am I the next Kloudie" to join your awesome team :) So let's find out!</p>
<p>To help you see the best bits, I've set some quick links on the top navigation.</p>
<ul>
  <li>
    <strong>View Results</strong>
    <p>
      Here you find the exercise results. Hope I did it right!
    </p>
  </li>
  <li>
    <strong>View Documentation</strong>
    <p>
      It's a small API, still documentation means good practice!
    </p>
  </li>
  <li>
    <strong>GitHub</strong>
    <p>
      All the magic spells behind this work can find in the GitHub repo.
    </p>
  </li>
  <li>
    <strong>About</strong>
    <p>
      Got any questions or wanted to give some feedback. Find me in LinkedIn.
    </p>
  </li>
  <li>
    <strong>Create Vehicle</strong>
    <p>Please select your vehicle Type needs to Create</p>
    <div [formGroup]="createVehicleForm" #formDir="ngForm" novalidate>
      <div class="form-group row">
        <label class="control-label col-md-12" for="Type">Type</label>
        <div class="col-md-4">
          <select class="form-control" data-val="true" formControlName="vehicletype">
            <option value="">-- Select Vehicle Type --</option>
            <option *ngFor="let v of VehicleTypes.values()" value={{v}}>
              {{v}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button (click)="create()" class=" btn btn-primary">Create</button>
      </div>
    </div>
  </li>
</ul>
